body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 50px;
    background: linear-gradient(to right, black, red);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 350px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
}

button {
    background-color: red;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

.options {
    display: flex;
    justify-content: center; /* Centraliza os checkboxes e os textos no container */
    gap: 20px; /* Espaço entre os itens */
}

.options label {
    display: flex;
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
    gap: 8px; /* Espaço entre o checkbox e o texto */
}
